.logo {
    margin: 0 auto;
    padding-top: 20px;
    width: 1200px;
    border-bottom: 2px #B1191A solid;
}

.main {
    margin: 0 auto;
    margin-top: 22px;
    width: 1200px;
    height: 500px;
    border: solid 1px #CFCFCF;
}

.main-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ECECEC;
    border-bottom: solid 1px #CFCFCF;
}

.main-header a {
    color: #C9173D;
}

.main-header a:hover {
    color: rgb(255, 0, 55);
}

.main table {
    margin: 50px auto;
    width: 650px;
    height: 340px;
}

table img {
    vertical-align: bottom;
}

table .false {
    color: #DE1111;
    font-size: 14px;
}

table .true {
    color: #40B83F;
}

table a {
    color: #22A4E7;
}

table a:hover {
    text-decoration: underline;
}

tr td:first-child {
    text-align: right;
}

tr:nth-child(6) td {
    padding: 15px 0;
    padding-right: 30px;
}

tr:nth-child(7) td {
    padding-right: 60px;
}

input {
    font-size: 18px;
    text-indent: 1em;
}

input:not([type="checkbox"]) {
    outline: none;
    width: 250px;
    height: 35px;
}

input[type="checkbox"] {
    vertical-align: middle;
}

input[type="submit"] {
    background-color: #C81623;
    width: 200px;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ED6A5A;
}

table .clear {
    padding: 10px 0;
    padding-right: 30px;
    color: #B3B3B3;
}

table .clear span {
    display: inline-block;
    width: 45px;
    text-align: center;
    color: white;
}

table .clear span:nth-child(1) {
    background-color: #DE1111;
}

table .clear span:nth-child(2) {
    background-color: #40B83F;
}

table .clear span:nth-child(3) {
    background-color: #F79100;
}